
.container {
    border: 1px solid #141313;
    padding: 15px;
    width: 400px;
    border-radius: 10px;
  
}

h2 {
    margin-top: 0;
}

select {
    margin-bottom: 15px;
    padding: 5px;
    border: 2px double darkolivegreen;
    border-radius: 8px;
}

.product {
    padding: 10px;
    border: 1px solid #383232;
    margin-bottom: 8px;
    border-radius: 5px;
}